beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
cssselect==1.0.3
dateparser==0.6.0
elasticsearch==6.1.1
feedfinder2==0.0.4
feedparser==5.2.1
html2text==2018.1.9
idna==2.6
jieba3k==0.35.1
lxml==4.1.1
newspaper3k==0.2.6
nltk==3.4.5
numpy==1.14.0
pandas==0.22.0
Pillow==5.0.0
pkg-resources==0.0.0
pyquery==1.4.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
regex==2018.2.3
requests==2.18.4
requests-file==1.4.3
ruamel.yaml==0.15.35
six==1.11.0
tldextract==2.2.0
tzlocal==1.5.1
urllib3==1.22
